/* body{
    background-color: white;
}
 #div1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;  
    color: black; 
    margin-top : 100px; 
    margin-left: 100px; 
    width: 230px; 
    height: 35px;      
    float: left;                    
}
#div2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;  /* Example of using a specific font size 
    color: white; /* Example of using a specific font color
    background-color: #007ea8; /* Example of using a specific background color 
     /* Example of using a specific padding value to create space between the content and the border 
     /* Example of using specific margin values to create space around the element 
    border-style: solid; /* Example of using a specific border style 
    width: 230px; /* Example of using a specific width value to set the width of the element 
    height: 35px;
    align-items: center;
    display: flex;
    justify-content: center;
     margin-top : 10px; /* Example of using a specific margin value to create space around the element 
    margin-left: 100px;
    float: left;
   

}
#div3{
    font-family: Arial, Helvetica, sans-serif;/* Example of using a specific font family 
    font-size: medium;  /* Example of using a specific font size */

* {
    margin: 0px;
    padding: 0px;
}

/* Body */
body {
    background-color: white;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;

    

}
header {
    background-color: #007ea8;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

/* My profile heading */
.pr {
    margin-top: 150px;
    margin-left: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

/* Account info box */
#div1 {
    font-family: Lato, Montserrat, sans-serif;
    font-size: small;
    background-color: #007ea8;
    color: white;
    width: 250px;
    height: 35px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 200px;
    padding: 3px;

}
/* Left labels */
.name ul {
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-top: -70px;
    margin-left: 513px;
    grid-auto-flow: row;
   
;
    
}
.name li {
 
    padding: 15px;

}


/* Right input content */
.content div{
    margin-bottom: 13px;
   

    
/* Style for input fields and select dropdown */
}
input,
select {
    width: 250px;
    height: 30px;
    border: 1px solid #ccc;
    outline: none;
    padding: 5px;

   }
select {
        background-color: white;
    }
.content {
    position: relative;  /* aligns inputs with labels */
    top: -855px;
    left: 900px;
    grid-auto-flow: row;
}
html, body{
width: 100%;
height: 100%;
height: fit-content;
padding-bottom: 20px;



}
.allcontent{
    display: grid;
}
.form-gtoup{
    grid-template-columns: 250px 1fr;
}
